@font-face {
  font-family: 'AvenirLTStd';
  src: url(https://app.crunch.io/AvenirLTPro-Heavy.ttf);
  src: url(fonts/AvenirLTPro-Heavy.ttf);
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'AvenirLTStd';
  src: url(https://app.crunch.io/AvenirLTPro-Roman.ttf);
  src: url(fonts/AvenirLTPro-Roman.ttf);
  font-weight: 400;
  font-style: normal; }

h1.title, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: AvenirLTStd, Lato, sans-serif;
    color: #565656;
    line-height: 1;
    font-weight: 200;
    margin-bottom: 10px;
    margin-top: 20px;
    clear: both;
}

body {
    color:#565656;
    font-family: AvenirLTStd, Lato, sans-serif;
}

p {
    margin-bottom: 24px;
    font-size: 16px;
}

a {
    color: #0064a4;
}
#hero {
    text-align: left;
    padding-top:0;
    padding-bottom: 24px;
}

#hero h1 {
    font-size: 36px;
    line-height: 1.25;
    max-width: 900px;
    margin-bottom: 0;
    color: #565656;
    font-weight: 200;
}

#hero p {
    padding:0;
    font-size: 18px;
    max-width: 900px;
    margin-top: 0;
}
#hero p::before {
    display:none;
}

#posts {
    text-align: left;
    max-width: 900px;
    margin-top: 0;
}

#posts h2 a {
    color: #565656;
}

#posts h2 a:hover{
    color: #0064a4;
    text-decoration: none;
    cursor: pointer;
}

#posts [itemprop="about"] {
    color: #888;
    margin-bottom: 0;
}

.list-item {
    margin-bottom: 18px;
}
ol, ol ol, ol ul, ul, ul ol, ul ul {
    margin:0;
}

.button.outline {
    color:#0064a4;
    border-color: #0064a4;
}

.button.small {
    padding: 9px 20px;
}

time.post-time {
    color: #AAA;
    margin: auto;
    max-width:900px;
    display:block;
    font-size:12px;
}

.reading-time {
    padding-left: 9px;
}

blockquote[itemprop="description"] {
    font-style:normal;
    margin:auto;
    max-width: 900px;
    padding:0;
    border: none;
}

#post-box {
    max-width: 900px;
}

.h1, h1 {
    font-size: 26px;
    color: #565656;
    font-weight: 700;
    padding-top: 9px;
}
.h2, h2 {
    font-size: 22px;
    color: #107f65;
}
.h3, h3 {
    font-size: 18px;
    color: #732082;
}
.h4, h4 {
    font-size: 16px;
    color: #888;
    font-weight: bold;
}

p+h2, p+h3, p+h4 {
    margin-top: 0;}

#post {
    font-size: 16px;
    line-height: 1.5;
}

#post img {
    display:block;
}

.floating-right {
    float: right;
    padding-left: 15px;
}

.floating-left {
    float: left;
    padding-right: 15px;
}

.centered-image img {
    margin: 0 auto;
}

#top-brand img {
    width: 154px;
}

#nav-toggle-brand {
    width: 180px;
    margin: auto;
}

#top #top-nav-extra span, #top #top-nav-extra a {
    border: none;
    text-transform: uppercase;
    color: #888;
}

#top #top-nav-extra span:hover, #top #top-nav-extra a:hover {
    color: #0064a4;
}

#top #top-nav-main a {
    color: #565656;
}

#top #top-nav-main a:hover {
    color: #0064a4;
}

#top {
    height: 60px;
}

.post-footer {
    clear: both;
}

blockquote {
    font-style: normal;
}
